div.terminos {
    height:200px;
    border:1px solid #ccc;
    background:#f2f2f2;
    padding:6px;
    overflow:auto;
}
div.terminos p,
div.terminos li {font:normal 11px/15px arial;color:#333;}
div.terminos h3 {font:bold 14px/19px arial;color:#000;}
div.terminos h4 {font:bold 12px/17px arial;color:#000;}
div.terminos strong {color:#000;}
