{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<br>
<br>
<h2>Gracias por registrarse, pronto un asesor se comunicará con usted para informarle de más detalles.</h2>
<br>
<br>
<p><a href="/">Volver</a></p>

{% endblock content %}
