{% extends 'base.html' %}
{% load staticfiles %}

{% block contentheader %}
<!-- banner -->
<div class="banner">
    <div class="container">
        <div class="wthree_banner_info">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="wthree_banner_info_grid">
                                <p style="text-shadow: 1px 1px 5px #000 ;">Cuando de salud se trata </p>
                                <h3 style="text-shadow: 1px 1px 5px #000;">informarse es clave</h3>
                            </div>
                        </li>
                        <li>
                            <div class="wthree_banner_info_grid">
                                <p style="text-shadow: 1px 1px 5px #000 ;">¿Quieres saber cómo?</p>
                                <h3 style="text-shadow: 1px 1px 5px #000;">Espéralo muy pronto</h3>
                            </div>
                        </li>

                    </ul>
                </div>
            </section>
            <!-- flexSlider -->
            <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" property="" />
            <script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
            <script type="text/javascript">
$(window).load(function(){
    $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
            $('body').removeClass('loading');
        }
    });
});
            </script>
            <!-- //flexSlider -->
        </div>
    </div>
</div>
<!-- //banner -->
{% endblock contentheader %}

{% block content %}
    <div class="welcome">
        <div class="container">
            <div class="col-md-6 agileits_welcome_grid_left">
                <h2>¿Sabes identificar un producto natural certificado?</h2>
                <p style="font-size: 20px;">A pesar de su auge, la medicina natural está siendo víctima de productos dañinos y sin registro invima que manchan el buen nombre
                de la industria, por otro lado, el desconocimiento de las personas frente a esta situación supone un riesgo a su salud.</p>
                <p style="font-size: 20px;">ViveNat surge cómo un canal de información para que puedas consultar los productos de medicina natural certificados, 
                los laboratorios que lo producen y más.</p>
            </div>
            <div class="col-md-6 agileits_welcome_grid_right">
                <img src="{% static 'images/Jovenes.jpg' %}" alt=" " class="img-responsive" />
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="welcome-bottom">
        <div class="container">
            <h3>¿Quieres saber más?</h3>
            <p>Déjanos tus datos para mantenerte informado</p>
            <div class="more">
                <a href="/registro" class="hvr-bounce-to-top">Regístrate</a>
            </div>
        </div>
    </div>
{% endblock content %}
