{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
<br>
<p><h2>Regístrate</h2></p>
<br>
<form method="POST" action='' >
    {% csrf_token %}
    {{ form|crispy }}    
    <br>
    <h4><b>Terminos y condiciones</b></h4>

    <br>
    <div class="terminos">
        <p><h3>Estos Términos de uso rigen la utilización que haces de la aplicación o servicio Vivenat.</h3></p><br>
        <p>Estos Términos de uso se componen de los términos y condiciones especificados abajo, junto con los términos establecidos en la Política de privacidad (conforme a su versión vigente en cada momento). Asegúrate de estar informado sobre cualquier cambio que se realice visitando la sección Legal periódicamente.</p><br>
        <p>1.  Aplicaciones, servicios o sitios de terceros: la Aplicación Vivenat puede permitir que te enlaces o te conectes para usar funciones de la aplicación, servicios o sitios de terceros que no sean propiedad de o que estén controladas por Vivenat (de forma colectiva, “Aplicaciones de terceros”). Las Aplicaciones de terceros están sujetas a los términos y condiciones del proveedor tercero relevante. Vivenat no tiene control sobre, ni es responsable por, ningún asunto relacionado con tus tratos o transacciones con tales terceros ni sobre ningún contenido, contenido distribuido, aplicación, servicio, sitio, anuncio, enlace, política de privacidad o práctica de terceros a los que se pueda acceder a través de la Aplicación de Vivenat. Es tu responsabilidad consultar las políticas de privacidad y los términos y condiciones de servicio y uso de todos los sitios de terceros que visites antes de descargar o usar tales Aplicaciones de terceros.</p><br>
        <p>2.  Idioma: Es posible que algunos contenidos no existan en tu idioma.</p><br>
        <p>3.  Ingeniería inversa: te comprometes a no desensamblar, descompilar, aplicar ingeniería inversa o intentar en modo alguno obtener acceso al código fuente de cualquier la Aplicación Vivenat. No copiarás ninguna parte de la Aplicación Vivenat ni harás uso comercial, alquilarás, prestarás, venderás, publicarás, otorgarás en licencia o sublicencia, distribuirás, asignarás ni transferirás de alguna forma ninguna parte de la Aplicación vivenat a un tercero.</p><br>
        <p>4.  Vivenat se reserva el derecho a realizar un seguimiento e informar, de forma anónima, a nuestros proveedores de servicios estadísticos de terceros, de tu actividad en la Aplicación de Vivenat.</p><br>
        <p>5.  Protección de tu información personal: queremos ayudarte a llevar a cabo todos los pasos necesarios para proteger tu privacidad e información. Por consiguiente, te pedimos que leas la Política de privacidad de Vivenat pertinente para que comprendas qué tipo de información recopilamos en la Aplicaciones Vivenat y las medidas concretas que tomamos para proteger tu información personal.</p><br>
        <p>6.  PODEMOS, SIN NINGUNA RESPONSABILIDAD POR TU PARTE, MODIFICAR ESTOS TÉRMINOS Y CONDICIONES DE USO SIN AVISAR EN CUALQUIER MOMENTO. SI CONTINÚAS USANDO LA APLICACION VIVENAT UNA VEZ REALIZADA CUALQUIER MODIFICACIÓN EN ESTOS TÉRMINOS Y CONDICIONES DE USO, ESE USO CONTINUADO CONSTITUIRÁ LA ACEPTACIÓN POR TU PARTE DE TAL MODIFICACIÓN. SI NO ACEPTAS ESTOS TÉRMINOS Y CONDICIONES DE USO NI ACEPTAS QUEDAR SUJETO A ELLOS, NO DEBES USAR LA APLICACIÓN VIVENAT. EL USO QUE HAGAS DE LA APLICACIÓN DE VIVENAT QUEDA BAJO TU ÚNICA RESPONSABILIDAD. NO OFRECEMOS NINGUNA GARANTÍA, Y RECHAZAMOS TODA RESPONSABILIDAD POR LA EXISTENCIA, OPORTUNIDAD, SEGURIDAD, FIABILIDAD Y CALIDAD DE CUALQUIER PRODUCTO O CONTENIDO, SERVICIOS E INFORMACIÓN OBTENIDOS A TRAVÉS DE LA APLICACIÓN DE VIVENAT. NO TENEMOS RESPONSABILIDAD ALGUNA POR LA ELIMINACIÓN DE, O LA INCAPACIDAD DE ALMACENAR O TRANSMITIR, CUALQUIER CONTENIDO U OTRA INFORMACIÓN MANTENIDA O TRANSMITIDA POR LA APLICACIÓN VIVENAT. NO SOMOS RESPONSABLES DE LA PRECISIÓN O LA FIABILIDAD DE CUALQUIER INFORMACIÓN O CONSEJO TRANSMITIDOS A TRAVÉS DE LA APLICACIÓN DE VIVENAT. PODEMOS, EN CUALQUIER MOMENTO, LIMITAR O INTERRUMPIR TU USO DE LA APLICACION VIVENAT  A NUESTRA ÚNICA DISCRECIÓN. HASTA EL MÁXIMO QUE PERMITE LA LEY, EN NINGÚN CASO SEREMOS RESPONSABLES POR CUALQUIER PÉRDIDA O DAÑO RELACIONADOS.</p><br>
        <p>7.  Reconoces que poseemos todos los derechos, la propiedad y los intereses en relación con la Aplicación de Vivenat y el software relacionado. No alterarás, destruirás, ocultarás ni suprimirás en forma alguna ningún aviso de derechos de autor o de propiedad contenido en la Aplicación Vivenat.</p><br>
    </div>
    <br>
     <input type="checkbox" name="terms" id="terms"> Acepto los Términos y condiciones. 

    <br>
    <br>


    <input id="enviar" type="submit" value="enviar" />
</form>

    <script type="text/javascript">
        $( document ).ready(function() {
            $('#enviar').attr('disabled', 'disabled');
        });

        $(function() {

            $('#terms').click(function() {
                if ($(this).is(':checked')) {
                    $('#enviar').removeAttr('disabled');
                } else {
                    $('#enviar').attr('disabled', 'disabled');
                }
            });
        });
    </script>

{% endblock content %}
