{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>ViveNat</title>
        <!-- for-mobile-apps -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Barter Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
        Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- //for-mobile-apps -->
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css" media="all" />
        <!-- js -->
        <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
        <!-- //js -->
        <link href='//fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
        <!-- start-smoth-scrolling -->
        <script type="text/javascript">
jQuery(document).ready(function($) {
    $(".scroll").click(function(event){		
        event.preventDefault();
        $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
    });
});
        </script>
        <!-- start-smoth-scrolling -->
    </head>


    <body>
        <div class="header" id="ban">
            <div class="container">

                <div class="w3ls_logo">

                    <a href="/"><img src="{% static 'images/ViveNat_LOGO.png' %}" style="width: 200px;"/></a>


                </div>
                <div class="header_right">
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                            <nav class="link-effect-7" id="link-effect-7">
                                <ul class="nav navbar-nav" style="margin-top: 20px;">
                                    <li>
                                        <div class="copy-right-social1">
                                            <div class="w3l_social_icons w3l_social_icons1">
                                                <ul>
                                                    <li><a href="https://www.facebook.com/VivenatColombia/" target="_blank" class="facebook"></a></li>
                                                    <li><a href="https://twitter.com/vivenat" target="_blank" class="twitter"></a></li>
                                                </ul>
                                                    <a href="/registro">Regístrate</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- /.navbar-collapse -->
                    </nav>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- //header -->

        {% block contentheader %}
        {% endblock contentheader %}


        <div class="container">
            {% block content %}
            {% endblock content %}
        </div> <!-- /container -->

        <div class="footer-copy">
            <div class="container">
                <div class="w3agile_footer_grids">
                    <div class="clearfix"> </div>
                    <div> <center><img src="{% static 'images/logos.jpg' %}" class="img-responsive"></center></div>
                </div>
            </div>
        </div

        <!-- for bootstrap working -->
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <!-- //for bootstrap working -->
    </body>
</html>
