{% load staticfiles %}

<link rel="icon" href="../../favicon.ico">
<title>{% block head_title %} ViveNat {% endblock %}</title>
<!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
